.main-div {
    margin: 50px;
}
.chart-div{
    margin-top: 20px;
    border: solid 1px #ced4da;
    border-radius: .28571429rem;
}
.new-post {
    border: solid 1px #ced4da;
    padding: .75em 1em;
    border-radius: .28571429rem;
}
.thumb-icon {
    margin-left: 10px !important;
}
.ui.styled.accordion {
    width: auto;
}
.accord-div {
    margin-top: 25px;
}
.logout {
    float: right;
    margin: 10px !important;
    right: 40px;
}