.my-modal{
    height: 640px !important;
}
.image.scrolling.content {
    height: 450px !important;
}
.ui.table td {
    padding: 0.5em
}

.ui.table th {
    padding: 0.5em;
}
.description {
    width: 100% !important;
}